* {
	margin: 0;
	padding: 0;
}

h3 {
	line-height: 50px;
}

p {
	line-height: 30px;
}

td {
	padding: 0 20px;
	text-align: center;
}

button {
	margin-top: 3%;
	padding: 3px 8px;;
	border-radius: 5px;
}

.errors {
	color: red;
}

#upper, #admin_links {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-right: 30px;
}

#wrapper {
	width: 80%;
	margin: 5% auto;
}

#login, #register {
	display: inline-block;
	vertical-align: top;
	margin-left: 8%;
}

#motto {
	color: silver;
}