#golden {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 5px;
}

#log {
	border: 1px solid black;
	border-radius: 2px;
	padding: 5px 10px;
	height: 300px;
	overflow: scroll;
}

#wrapper {
	width: 90%;
	margin: 0 auto;
}

.location {
  display: inline-block;
  vertical-align: top;
  margin-left: 65px;
}